.region-card:nth-child(2),
.region-card:nth-child(3),
.region-card:nth-child(6),
.region-card:nth-child(7),
.region-card:nth-child(10),
.region-card:nth-child(11),
.region-card:nth-child(14),
.region-card:nth-child(15) {
  background-color: var(--main-alt-color);
}

.region-card {
  width: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.region-card svg {
  align-self: flex-end;
}

.region-card__img {
  max-height: 7em;
  max-width: 7em;
  opacity: 0.5;
  margin-bottom: 2em;
  margin-top: -1em;
}

.region-card__stats-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.region-card__name {
  text-align: right;
  text-transform: uppercase;
}

.region-card__stats {
  font-family: var(--control-font);
  font-weight: 200;
  text-align: right;
}